html{
  font-size: 100%
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 75%;
  }
}
.header{
  top: 0;
  height: 130px;
  padding-top: 30px;
  text-align: center;
  position: sticky;
  display: inline;
}

.header h1{
  margin-left: auto;
  margin-top: 10px;;
  margin-bottom: 10px;
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  position: sticky;
  margin: auto;
}

.page-heading{
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  position: sticky;
  margin: auto;
  text-align: center;
}

.section-heading{
  font-family: 'Rubik', sans-serif;
  font-size: 38px;
  position: sticky;
  margin: auto;
  text-align: center;
  margin-bottom: 1.2em;
}

.content{
  font-family: monospace;
}

.header h6{
  font-family: monospace;
}

/* Card stuff */

.card{
  border-radius: 0.5em;
  border: 2px solid #388087;
  background-color: #f6f6f2;
  padding: 1.5em;
  margin-top: 1.2em;
}

.card .heading{
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  color: #388087;
}

.card a{
  color: #6fb3b8;
}

.card .date{
  text-align: center;
  font-size: 15px;
  color: #6fb3b8;
}

.card .text-body{

}

.card button{
  background-color: #388087;
  color: white;
}


.body{
  top: 130px;
  width: 100%;
  position: fixed;
  bottom: 0;
}


hr{
  width: 60%;
}

body{
  font-family: 'Roboto', sans-serif;
}


.jsapplet{
  text-align: center;
}

.nav-menu ul{
  list-style: none;
}


@media only screen and (min-width: 700px) {
  .jsapplet {
    margin-top: 2rem;
  }

  .nav-menu li {
    display: inline;
    padding: 10px 20px;
  }
}

#slider-container{
  text-align: center;
}

@media only screen and (max-width: 700px) {

  .body{
    top: 180px;
  }

}
