html{
  font-size: 100%
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 75%;
  }
}
.header{
  top: 0;
  height: 130px;
  padding-top: 30px;
  text-align: center;
  position: sticky;
  display: inline;
}

.header h1{
  margin-left: auto;
  margin-top: 10px;;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  position: sticky;
  margin: auto;
}

.header h6{
  font-family: monospace;
}

.header nav{
  align-items: center;
  text-align: center;
}
.header .navbar-list li{
  display: inline;
  padding: 10px;
  font-size: 15px;
}

.body{
  top: 130px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.poetry{
  margin: auto;
  margin-top: 3%;
  height: 90%;
  padding: 10%;
  color: white;
  background: rgb(50,50,50,0.5);
  overflow: scroll;"
}

hr{
  width: 60%;
}

body{
  font-family: 'Roboto', sans-serif;
}


.jsapplet{
  text-align: center;
}
@media only screen and (min-width: 700px) {
  .jsapplet {
    margin-top: 4rem;
  }
}

#slider-container{
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .header{
    display: block;
    height: 200px;
  }

  .body{
    top: 220px;
  }

  .navbar-list li {
    display: inline;
  }
}

#spiral{
  display: block;
  margin: auto;
  border: 2px solid black;
}
